@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.video{
    &__image {
        width: 35vw;
        height: 100%;
        background-color: $mercury;
        border-radius: .25rem;
        margin: $mobile-padding-between-components $mobile-padding-between-components 0rem 0rem;
    }
    
    &__details {
        @include flexy-box-align(column, start, space-around);
        width: 100%;
        height: 100%;
    }
    
    &__card {
        @include flexy-box-align(row, center, left);
        width: 100%;
    }
}

