@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.video{
    &__image {
        width: 35vw;
        height: 100%;
        background-color: $mercury;
        border-radius: .25rem;
        margin-right: $mobile-padding-between-components;
        &-container {
           @include flexy-box-align(row, center, center);
        }
    }
    
    &__details {
        width: 100%;
        height: 100%;
        color: $brainflix-black;
    }
    
    &__card {
        @include flexy-box-align(row, center, left);
        width: 100%;
        padding: $mobile-padding-between-components 0rem 0rem 0rem;
    }
    &__title {
        padding-bottom: $mobile-padding-between-components;
        font-weight: 600;
    }
}

