@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.video{
    &__image {
        width: 100%;
        background-color: $mercury;
        border-radius: .25rem;
        &-container {
            width: 50vw;
    }
        @include tablet {
            width: 10vw;
        }
    }
    
    &__details {
        gap: 1rem;
        margin-left: .5rem;
        width: 100%;
        color: $brainflix-black;
        @include flexy-box-align(column, start, center);
    }
    
    &__card {
        @include flexy-box-align(row, center, center);
        width: 100%;
        padding: .25rem 0rem 0rem 0rem;
    }
    &__title {
        font-weight: 600;
        @include tablet {
            padding-bottom: $large-padding-between-components;
        }
    }
}

