@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.upload-video {
    padding: $mobile-padding-before-headline $mobile-padding-between-components $mobile-padding-after-headline $mobile-padding-between-components;
    border-top: .0625rem solid $mercury;
    @include tablet {
        padding: $large-padding-before-headline $large-padding-between-components $large-padding-after-headline $large-padding-between-components;
    }
    @include desktop {
        padding: $large-padding-before-headline $desktop-padding;
    }

    &__thumbnail {
        width: 100%;
        @include tablet {
            width: 50%;
            padding-top: .5rem;
        }
        @include desktop {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        padding-bottom: $mobile-padding-after-headline;
        @include tablet {
            border-bottom: .0625rem solid $mercury;
            margin-bottom: $large-padding-between-components;
        }
    }

    &__label,
    &__label--border-bottom {
        color: $silver;
        @include flexy-box-align(column, left, center);
        padding-bottom: $mobile-padding-between-components;

        @include tablet {
            @include font-styling(1rem, 600, 1.25rem);
            padding-bottom: $large-padding-between-components;
        }
    }
    &__label--border-bottom {
        @include tablet {
            border-bottom: .0625rem solid $mercury;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
        }
        @include desktop {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__description-input,
    &__title-input {
        @include input-field-state-styling();
        width: 100%;
        min-height: 2.25rem;
        padding: 0.75rem;
        background-color: $alabaster;
        color: $brainflix-black;
        @include tablet {
            min-height: 0;
            height: auto;
            padding: 1rem;
            margin-top: .25rem;
        }
    }
    &__description-input {
        padding-bottom: 0rem;
    }

    &__form {
        @include desktop {
            @include flexy-box-align(row, start, left);
            border-bottom: 1px solid $mercury;
            margin-bottom: $mobile-padding-between-components;
        }
    }

    &__inputs-section {
        @include desktop {
            width: 100%;
            margin-left: $large-padding-between-components;
            @include flexy-box-align(column, left, start);
        }
    }

    &__cancel-container {
        @include flexy-box-align(row, center, center);
        padding-left: 1.5rem;
    }

    &__cancel-link {
        color: $brainflix-blue;
        padding: $mobile-padding-between-components 0;
        
        @include tablet {
            font-size: 1rem;
            font-weight: 600;
            position: absolute;
            left: 60%;
            @include font-styling(.75rem, 600, 1.25rem);
        }

        @include desktop {
            left: 70%;
        }
    }

    &__button-section {
        @include tablet {
            @include flexy-box-align(row, center, right);
            width: 103%;
        }
        @include desktop {
            width: 102%;
        }
    }
}

#upload-video__thumbnail-image {
    @include desktop {
        width: 60%;
        padding-bottom: $mobile-padding-between-components;
    }
}
.upload__PUBLISH-container {
    margin-top: 0;
}
