@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.upload-video {
    &__thumbnail {
        width: 100%;
    }
}

.upload__PUBLISH-container {
    margin-top: 0rem;
}

.upload-video__cancel-container {
    @include flexy-box-align(row, center, center);
    padding-left: 1.5rem;
}

.upload-video__cancel-link {
    font-size: .75rem;
    color: $brainflix-blue;
    padding: $mobile-padding-between-components 0rem;
}


.upload-video {
    padding: $mobile-padding-before-headline $mobile-padding-between-components $mobile-padding-after-headline $mobile-padding-between-components;
    border-top: .0625rem solid $mercury;
    &__title {
        padding-bottom: $mobile-padding-after-headline;
    }
    &__label {
        color: $silver;
        @include flexy-box-align(column, left, center);
        padding-bottom: $mobile-padding-between-components;
    }
    &__description-input, &__title-input {
          width: 100%;
          min-height: 2.25rem;
          padding: 0.75rem;
          border-radius: .25rem;
          border: .0625rem solid $mercury;
          background-color: $alabaster;
          color: $brainflix-black;
          @include tablet {
              min-height: 0rem;
              height: auto;
          }
          &:focus {
            border: .125rem solid $brainflix-blue;
            border-radius: .25rem;
          }
          &:invalid {
            border: .125rem solid red;
            border-radius: .25rem;
          }
        }
        &__description-input {
            height: 5rem;
        }
}