@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.next-videos {
    @include flexy-box-align(column, start, left);
    margin: 0rem;
    padding: $mobile-padding-between-components;
    @include tablet {
        padding: $large-padding-between-components;
    }
    &__title {
        color: $silver;
        font-weight: 600;
        padding-bottom: $mobile-padding-between-components;
        @include tablet {
            padding-bottom: 0rem;
        }
    }
}

.video {
    &__image {
        background-color: $mercury;
        border-radius: .25rem;
        width: 30vw;
    }
    
    &__details {
        color: $brainflix-black;
        height: 3.5rem;
        padding-left: $mobile-padding-between-components;
        @include flexy-box-align(column, start, space-between);
    }
    
    &__card {
        @include flexy-box-align(row, center, center);
        width: 100%;
        margin-bottom: .5rem;
    }
    &__title {
        font-weight: 600;
        
    }
}



