@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


#header_UPLOAD-button {
    width: 100%;
    @include tablet {
        width: auto;
        margin-right: calc($lp-between/2);   
    }
}
.header__UPLOAD, .upload__PUBLISH {
    &-icon {
        background-color: transparent;
    }
    &-text-container {
        background-color: transparent;
        width: 100%;
        padding-top: 2px;
        font-size: .75rem;
        font-weight: 600;
        @include flexy-box-align(column, center, end);

    }
    &-container{
        background-color: $brainflix-blue;
        @include flexy-box-align(row, center, left);
        border-radius: .25rem;
        border: 1px solid $brainflix-blue;
        color: $white;
        height: 2.5rem;
        padding: .75rem;
        margin: $mp-between 0rem;
        @include tablet {
            min-width: 9.375rem;
            margin: 0rem;
            width: 100%;
            padding-right: 1.5rem;
        }
        &:hover {
            background-color: $brainflix-darkblue;
        }
    }
}


