@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


#header__upload-button {
    width: 100%;
    @include tablet {
        margin-right: calc($large-padding-between-components/2);
    }
}
.header__upload, .comments__add {
    &-icon {
        background-color: transparent;
        padding-right: 30%;
        @include tablet {
            padding-right: 20%;
        }
    }
    &-container{
        background-color: $brainflix-blue;
        @include flexy-box-align(row, center, left);
        border-radius: .25rem;
        border: 1px solid $brainflix-blue;
        color: $white;
        height: 2.5rem;
        padding: .75rem;
        margin: $mobile-padding-between-components 0rem;
        @include tablet {
            min-width: 9.375rem;
            margin: 0rem;
            width: 100%;
        }
        &:hover {
            background-color: $brainflix-darkblue;
        }
    }
}
