@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.header__upload, .comments__add {
    &-container *, &-container, &-button, &-icon {
        background-color: $brainflix-blue;
    }
    &-container {
        @include flexy-box-align(row, center, left);
        border-radius: .25rem;
        border: 1px solid $brainflix-blue;
        height: 2.5rem;
        width: 97%;
        padding-left: 6px;
        margin: $mobile-padding-between-components 0rem;
        @include tablet {
            min-width: 9.375rem;
            margin: 0rem $large-padding-between-components/2;
        }

    }
    &-button {
        font-weight: 600;
        height: 100%;
        width: 100%;
        border: none;
        color: $white;
        &:hover {
            background-color: $brainflix-darkblue;
            
        }

    }
}

.comments__add {
    @include tablet{
        &-container {
            width: auto;
            min-width: 9.375rem;
            padding-right: 2rem;
        }
    }
}
