$tablet: 768px;
$desktop: 1280px;

$brainflix-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$brainflix-blue: #0095FF;

$brainflix-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$brainflix-darkblue: #0065AD;

$mobile-padding-before-headline: 1.5rem;
$mobile-padding-after-headline: 1rem;
$mobile-padding-between-components: 1rem;

$large-padding-before-headline: 3rem;
$large-padding-after-headline: 2.25rem;
$large-padding-between-components: 2.25rem;

$desktop-padding: 6rem;