@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.comments-list {
    margin: 0rem $mp-between;
    @include tablet {
        margin: 0rem $lp-between;
    }
    @include desktop {
        margin: 0rem 0rem 0rem 6rem;
        @include flexy-box-align(column, start, center)
    }
}