@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.header__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
    margin: $mobile-padding-between-components;
    @include tablet {
        margin: 0rem;
    }
    @include desktop {
        margin-left: 6rem;
    }
}