@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.header__upload {
    &-container * {
        background-color: $brainflix-blue;
    }
    &-container {
        @include flexy-box-align(row, center, left);
        border-radius: .25rem;
        border: 1px solid $brainflix-blue;
        height: 2.5rem;
        width: 100%;
        padding-left: 6px;
        margin: $mobile-padding-between-components;
        background-color: $brainflix-blue;
        @include tablet {
            min-width: 9.375rem;
        }

    }
    &-button {
        font-weight: 600;
        height: 100%;
        width: 100%;
        border: none;
        color: $white;
    }
}
