@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.header {
    @include flexy-box-align(column, center, center);
    width: 100%;
    @include tablet {
        @include flexy-box-align(row, center, space-between);
        padding: $large-padding-between-components/2 $large-padding-between-components;
    }
    @include desktop {
        padding: $large-padding-between-components/2 0rem;
    }
    &__logo {
        max-height: 1.5625rem;
        max-width: 7.5rem;
        margin: $mobile-padding-between-components;
        @include tablet {
            margin: 0rem;
        }
        @include desktop {
            margin-left: 6rem;
        }
    }
    &__horizontal-container {
        @include flexy-box-align(row, center, center);
        width: 100%;
        height: 100%;
        @include desktop {
            @include flexy-box-align(row, center, right);
        }
        &--large-display{
            width: 100%;
            padding: 0rem $mobile-padding-between-components;
            @include flexy-box-align(column, center, center);
            @include tablet {
                @include flexy-box-align(row, center, end);
                padding-right: 0rem;
            }
            @include desktop {
                margin-right: $desktop-padding;
            }
        }
    }
    &__search {
        &-container * {
            background-color: $alabaster;
            outline: none;
        }
        &-container {
            @include flexy-box-align(row, center, left);
            border-radius: .25rem;
            border: 1px solid $mercury;
            box-sizing: content-box;
            min-height: 2.25rem;
            min-width: 15rem;
            width: 100%;
            padding-left: 6px;
            margin-right: 12px;
            background-color: $alabaster; 
            @include tablet{
                min-height: 2.5rem;
                margin-right: calc($large-padding-between-components/2);
            }
            @include desktop {
                width:30%;
            }
        }
        &-input {
            min-height: 2.25rem;
            width: 100%;
            height: 100%;
            padding-left: .75rem;
            border: none;
            color: $brainflix-black;
            outline: none;
            &:focus {
                border: .125rem solid $brainflix-blue;
                border-radius: .25rem;
            }
            &:invalid {
                border: .125rem solid red;
                border-radius: .25rem;
            }
        } 
    }
}

#header_UPLOAD-button {
    @include desktop {
        margin-right: 3.5rem;
    }
}

