@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.header {
    @include flexy-box-align(column, center, center);
    width: 100vw;
    padding: 0rem $mobile-padding-between-components;
    @include tablet {
        padding: 0rem $large-padding-between-components;
        @include flexy-box-align(row, center, space-between)
    }
}
.header__horizontal-container {
    @include flexy-box-align(row, center, center);
    width: 100%;
    &--large-display{
        @include flexy-box-align(column, center, center);
        @include tablet {
            @include flexy-box-align(row, center, end);
        }
    }
}
