@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.header {
    @include flexy-box-align(column, center, center);
    width: 100%;
    @include tablet {
        @include flexy-box-align(row, center, space-between);
        padding: $large-padding-between-components/2 $large-padding-between-components;
    }
    &__horizontal-container {
        @include flexy-box-align(row, center, center);
        width: 100%;
        &--large-display{
            @include flexy-box-align(column, center, center);
            @include tablet {
                @include flexy-box-align(row, center, end);
            }
        }
    }
}
