@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;



.header__avatar{
    &--mobile, &--comments {
        object-fit: cover;
        border-radius: 50%;
        background-color: $mercury;
        max-height: 2.25rem;
        max-width: 2.25rem;
    }
    &--mobile{
        @include tablet {
            display: none;
        }
    }


    &--desktop {
        display: none;
        object-fit: cover;
        border-radius: 50%;
        background-color: $mercury;
        max-height: 2.25rem;
        max-width: 2.25rem;
        @include tablet {
            display: block;
        }
    }

    &-container {
        &--mobile, &--comments{
            box-sizing: content-box;
            display: flex;
            width: 2.25rem;
            height: 2.25rem;
        }
        &--mobile {
            @include tablet {
                display: none;
            }
        }
        &--comments {
            padding: $mobile-padding-between-components*1.5 $mobile-padding-between-components;
        }
        &--desktop{
            display: none;
            box-sizing: content-box;
            width: 2.25rem;
            height: 2.25rem;
            @include tablet {
                display: flex;
            }
        }
    }

}