@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/global' as *;


#root {
    @include flexy-box-align(column, start, center);
    box-sizing: border-box;
}

.main-content--desktop {
    width: 108vw;
    @include desktop {
        @include flexy-box-align(row, start, start);
        border: 5px dashed red;
        width: 137%;
        height: 100vh;
    }
}